p {
margin: 25px 23px 30px;
}
body
{
     background-image: url('bg.jpg');
     background-repeat:no-repeat;
     width:100%;
     height:100%;
}
h2
{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item
{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel
{
    margin-top: 20px;
}
.bs-example
{
	margin: 20px;   
}
.panel-group {
margin-bottom: 20px;
width: 275px;
}
#index p
{
   color:red;
}
#index h5,a
{
   color:white;
}
h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
    height: 50%;
}
.bs-example{
    margin: 20px;
}
